$font-size : 11px 12px 13px 14px 18px 24px;
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$third_color:#99E2D0;
$titlefont :'Shrikhand', cursive;
$textfont:'Roboto', sans-serif;

/* Index.html */

.logo{
    width: 100%;
}
#div_logo{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    max-width: 50%;}

#presentation{
    text-align: center;
    font-family: $textfont;
}
/* explorer button*/
.explorer_button {
    font-family: $textfont;
padding: 8px;
margin-bottom: 40px;
border-radius: 20px;
font-size:nth($font-size,3);
background-image: linear-gradient($primary-color, $secondary-color);
font-family: $textfont;
}

/* first wrapper*/
.wrappe{
    
    background-color:#f5f5f0 ;
    padding-top:20px; 
    display: grid;
    justify-content: center;
    
}
/* functionnement button section*/

  
#div_logo{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    max-width: 50%;
}
.logo{
    width:250%;
    margin-left: -40px;
}
.icon { 
    padding: 10px; 
    min-width: 40px; 
    margin-left: 130px;
    margin-top: 5px;
} 
.input-field { 
   width:100%;
    padding: 10px; 
    text-align: center; 
    font-size:nth($font-size,3);
    opacity: 0.7;
    border: none;
    background-color:#e0e0d1;
    box-shadow: 20px;
   } 
   
   .input-icons i { 
    position: absolute; 
} 

#text1{
    margin-top: 25px;
    font-size:nth($font-size,6);
    font-weight: bold;
    align-items: center;
   
}
#text2{
    font-size:nth($font-size,5);
    opacity: 0.7;
    
}
.Fonctionnement{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
    margin-bottom: 20px;
}
.txt_function{
    margin-left: 20px;
}
.button_group{
    font-size:nth($font-size,2);
    padding: 20px;
    border-radius: 20px;
    background-color:#f5f5f0 ;
    margin-bottom: 10px;
    box-shadow: 2px 3px 3px #ddd;
    width: 25%;
   
    }

    .cercle_1{
        background-color:$primary-color ;
        color: white;
        font-weight: bold;
        display: block;
        border-radius: 100%;
        height: 25px;
        width: 25px;
        text-align: center;
        margin-left: -25px;
        position: absolute;
    }
    .icon-1{
       margin-left: 20px;
       color: black;
    }
    .btn_text{
        margin-left: 10px;
        color: black;
        font-family: $textfont;
        font-size:nth($font-size,3)
    }
    .button_group a{
        text-decoration: none;
    }

/* restaurent  section*/
.wrapper_restaurent{
    display:grid;
    padding-top: 20px;
    justify-content: center;
    background-color:#f5f5f0 
  
}
.img_restaurent{
    height: 8rem;
    width: 15rem;
    
    object-fit: cover;
    border-radius: 10px 10px 0px 0px; 
    
}
.card {
    border-radius: 10px;
    width: 15rem;
    display: flex;
    flex-wrap: wrap;
    background: white;
    
     }
     .cardtext_container{
        width: 100%;
         display: flex;
        justify-content: space-between;
        
     }
     .card_text{
         color: black;
         line-height: 0.4;
         margin-top:10px ;
         margin-left: 5px;
         float: left;
     }
     .text3{
         font-weight: bold;
         font-size:nth($font-size,2);
         font-family: $textfont;
     }
     .text4{
        
        font-size:nth($font-size,1);
        font-family: $textfont;
    }
    .wrapper_restaurent{
        display:flex;
        justify-content: space-around;
        background-color:#f5f5f0 
    }
    .like{
        position: relative;
    }
    .default_i{
        z-index: 1;
        width: 25px;
}
    .houver_i{
        z-index: 2;
        width: 25px;
        margin-left: -25px;
        position: absolute;
        opacity: 0;
        margin-top: 2px;

    }
    .default_i:focus{
       cursor: alias;
       opacity: 0;
}
.houver_i:focus{
    opacity: 1;
   

}
.heart_1:hover{
    background: url(img/canvass.png);
    background-repeat: no-repeat;
    transition: max-height 0.25s ease-in;
}

/* Footer section */
.footer{
    background-color:#2f2f1e ;
    
}
#footer_logo{
    margin-top: 10px;
    padding-top: 20px;
    display: grid;
justify-content: center;
}


ul{
    list-style-type:none;
    margin-top: 8px;
    
}
.footer_i{
    color: white;
    margin-right: 8px;
}
.links{
    justify-content: center;
    display: grid;
    font-family: $textfont;

}

.footer_text{
    color: white;
    font-family: $textfont;
}

/* mobile */
@media(max-width:767px){
    #div_logo{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        max-width: 50%;
    }
.logo{
   font-size:nth($font-size,1);
    
}

 
 
.icon { 
    
    margin-left: 20px;
    
} 
.input-field { 
    width: 100%; 
    padding: 10px; 
    text-align: center; 
    font-size:nth($font-size,3);
    opacity: 0.7;
    border: none;
    background-color:#e0e0d1;
    box-shadow: 20px;
   } 
#presentation{
    text-align: center;
    line-height: 1;
    
}
#text1{
    margin-top: 25px;
    font-size:nth($font-size,4);
    font-weight: bold;
    font-family: $textfont;
}
#text2{
    font-size:nth($font-size,3);
    opacity: 0.7;
    font-family: $textfont;
}
.txt_function{
    font-weight: bold;
    margin-left: 20px;
    font-family: $textfont;
font-size: 20px;
}
.text_res{
    font-weight: bold;
    margin-left: 20px;
    font-family: $textfont;
    font-size: 20px;
}
#btn_section{
    flex-direction: column;
    width: 100%; 
    display: grid;
    justify-items: center;
}
.button_group{
    width: 250px;
}
.wrapper_restaurent{
    flex-direction: column;
    align-items: center;
}
.card{
    margin-bottom: 15px;
}
    

}
/* tablet */
@media(min-width:768px)and (max-width:992px){

        
        .text_res{
            background-color:#f5f5f0 ;
        }
        
}


