.logo{
    height:1.5rem;align-items:center;font-size: 11px;margin-left: 100px;
    
}
.input-icons i { 
    position: absolute; 
} 
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
.icon { 
    padding: 10px; 
    min-width: 40px; 
    margin-left: 80px;
} 
.input-field { 
    width: 100%; 
    padding: 10px; 
    text-align: center; 
} 
  