/* Index.html */
body {
  margin: 0; }

.logo {
  width: 100%; }

#div_logo {
  text-align: center;
  max-width: 100%;
  font-family: "Shrikhand", cursive;
  font-size: 2.4rem; }

.input-icons {
  text-align: center;
  background-color: #eaeaea;
  padding: 10px;
  font-size: 13px;
  border: none; }

.input-icons i {
  font-size: 20px; }

.input-field {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border: none;
  background-color: unset; }

.icon {
  color: black; }

#presentation {
  text-align: center;
  font-family: "Roboto", sans-serif; }

/* explorer button*/
.explorer_button {
  font-family: "Roboto", sans-serif;
  padding: 8px;
  margin-bottom: 40px;
  border-radius: 20px;
  font-size: 14px;
  background-image: linear-gradient(#9356DC, #FF79DA);
  font-family: "Roboto", sans-serif; }
  .explorer_button:hover {
    transform: scale(1.5); }

/* first wrapper*/
.wrappe {
  background-color: #f5f5f0;
  padding-top: 20px;
  display: grid;
  justify-content: center; }

/* functionnement button section*/
#text1 {
  margin-top: 25px;
  font-size: 24px;
  font-weight: bold;
  align-items: center; }

#text2 {
  font-size: 18px;
  opacity: 0.7; }

.Fonctionnement {
  display: flex;
  margin-top: 15px;
  justify-content: space-around;
  margin-bottom: 20px; }

.txt_function {
  margin-left: 20px;
  font-size: 20px; }

.button_group {
  font-size: 18px;
  padding: 20px;
  border-radius: 20px;
  background-color: #f5f5f0;
  margin-bottom: 10px;
  box-shadow: 2px 3px 3px #ddd;
  width: 25%; }
  .button_group:hover {
    transform: scale(1.1);
    background-color: #FF79DA; }

.cercle_1 {
  background-color: #9356DC;
  color: white;
  font-weight: bold;
  display: block;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  text-align: center;
  margin-left: -25px;
  position: absolute; }

.icon-1 {
  margin-left: 20px;
  color: black; }

.btn_text {
  margin-left: 10px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 14px; }

.button_group a {
  text-decoration: none; }

/* restaurent  section*/
.section_res {
  background-color: #f5f5f0; }

.text_res {
  font-size: 18px;
  margin-left: 20px;
  padding-top: 20px; }

.wrapper_restaurent {
  display: grid;
  justify-content: center; }

.img_restaurent {
  height: 8rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px; }

.card {
  border-radius: 10px;
  width: 15rem;
  display: flex;
  flex-wrap: wrap;
  background: white; }
  .card:hover {
    transform: scale(1.1); }

.cardtext_container {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.card_text {
  color: black;
  line-height: 0.4;
  margin-top: 10px;
  margin-left: 5px;
  float: left; }

.text3 {
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto", sans-serif; }

.text4 {
  font-size: 13px;
  font-family: "Roboto", sans-serif; }

.wrapper_restaurent {
  display: flex;
  justify-content: space-around;
  background-color: #f5f5f0;
  padding-bottom: 30px; }

.like {
  position: relative; }

.default_i {
  z-index: 1;
  width: 25px; }

.houver_i {
  z-index: 2;
  width: 25px;
  margin-left: -25px;
  position: absolute;
  opacity: 0;
  margin-top: 2px; }

.default_i:focus {
  cursor: alias;
  opacity: 0; }

.houver_i:focus {
  opacity: 1; }

.heart_1:hover {
  background: url(img/canvass.png);
  background-repeat: no-repeat;
  transition: max-height 0.25s ease-in; }

/* Footer section */
.footer {
  background-color: #353535; }

#footer_logo {
  margin-top: 10px;
  padding-top: 20px;
  display: grid;
  justify-content: center;
  font-family: "Shrikhand", cursive;
  color: white; }

ul {
  list-style-type: none;
  margin-top: 8px;
  padding-bottom: 20px; }

.footer_i {
  color: white;
  margin-right: 8px; }

.links {
  justify-content: center;
  display: grid;
  font-family: "Roboto", sans-serif; }

.links li:hover {
  transform: scale(1.2); }

.footer_text {
  color: white;
  font-family: "Roboto", sans-serif; }

/* mobile */
@media (max-width: 767px) {
  #div_logo {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5rem; }

  .icon {
    margin-left: 20px; }

  .input-field {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    opacity: 0.7;
    border: none;
    box-shadow: 20px; }

  #presentation {
    text-align: center;
    line-height: 1; }

  .explorer_button:hover {
    transform: scale(1.5); }

  #text1 {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto", sans-serif; }

  #text2 {
    font-size: 14px;
    opacity: 0.7;
    font-family: "Roboto", sans-serif; }

  .txt_function {
    font-weight: bold;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px; }

  .text_res {
    font-weight: bold;
    padding-top: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    display: inline-block; }

  #btn_section {
    flex-direction: column;
    width: 100%;
    display: grid;
    justify-items: center; }

  .button_group {
    width: 250px; }

  .wrapper_restaurent {
    flex-direction: column;
    align-items: center; }

  .card {
    margin-bottom: 15px; } }
/* tablet */
@media (min-width: 768px) and (max-width: 1028px) {
  .explorer_button:hover {
    transform: scale(1.5); }

  .button_group {
    font-size: 13px;
    width: auto; }

  .text_res {
    background-color: #f5f5f0; }

  .img_restaurent {
    border-radius: 10px 0px 0px 10px; }

  .wrapper_restaurent {
    flex-wrap: wrap; }

  .card {
    width: 70%;
    margin-bottom: 20px; }

  .card a {
    width: 50%; }

  .cardtext_container {
    width: 50%; }

  .hart_icon {
    margin-top: 20px;
    margin-right: 20px; }

  .text3 {
    font-size: 18px; }

  .text4 {
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
