/* Index.html */
body {
  margin: 0; }

/*loading spiner*/
.spinner {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; }

.spinner div {
  box-sizing: border-box;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 8px solid transparent;
  border-top-color: #ad60f5;
  border-radius: 50%;
  animation: spinnerOne 1.2s linear infinite; }

.spinner div:nth-child(2) {
  border: 8px solid transparent;
  border-bottom-color: #ad60f5;
  animation: spinnerTwo 1.2s linear infinite; }

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 10px; }
  50% {
    transform: rotate(180deg);
    border-width: 1px; }
  100% {
    transform: rotate(360deg);
    border-width: 10px; } }
@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px; }
  50% {
    transform: rotate(180deg);
    border-width: 10px; }
  100% {
    transform: rotate(360deg);
    border-width: 1px; } }
/* loaading spiner fade out */
@keyframes spinerfadeout {
  100% {
    visibility: hidden; } }
.spinner.hidden {
  animation: spinerfadeout 5s;
  animation-fill-mode: forwards; }

/*main section*/
/*header section*/
.logo {
  width: 100%;
  box-shadow: -1px 10px 17px #00000026; }

#div_logo {
  text-align: center;
  max-width: 100%;
  font-family: "Shrikhand", cursive;
  font-size: 2.4rem; }

h1 {
  margin-bottom: 0px; }

.input-icons {
  text-align: center;
  background-color: #eaeaea;
  padding: 10px;
  font-size: 13px;
  border: none; }

.input-icons i {
  font-size: 20px; }

.input-field {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border: none;
  background-color: unset; }

.icon {
  color: black; }

#presentation {
  text-align: center;
  font-family: "Roboto", sans-serif; }

/* explorer button*/
.explorer_button {
  font-family: "Roboto", sans-serif;
  padding: 12px;
  margin-bottom: 40px;
  border-radius: 20px;
  font-size: 14px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  font-family: "Roboto", sans-serif;
  border: none;
  box-shadow: 0px 7px 15px #00000042;
  color: white;
  cursor: pointer; }
  .explorer_button:hover {
    transform: scale(1.5); }

/* first wrapper*/
.wrappe {
  background-color: #f5f5f0;
  padding-top: 20px;
  display: grid;
  justify-content: center; }

/* functionnement button section*/
#text1 {
  margin-top: 25px;
  font-size: 24px;
  font-weight: bold;
  align-items: center; }

#text2 {
  font-size: 18px;
  opacity: 0.7; }

.Fonctionnement {
  display: flex;
  margin-top: 15px;
  justify-content: space-around;
  margin-bottom: 20px; }

.txt_function {
  margin-left: 20px;
  font-size: 20px; }

.txt_function h6 {
  font-size: 20px; }

.button_group {
  font-size: 18px;
  padding: 20px;
  border-radius: 20px;
  background-color: #f5f5f0;
  margin-bottom: 10px;
  box-shadow: 2px 3px 3px #ddd;
  width: 25%; }
  .button_group:hover {
    transform: scale(1.1);
    background-color: #ffe6ff; }
    .button_group:hover .icon-1 {
      color: #9356DC; }

.cercle_1 {
  background-color: #9356DC;
  color: white;
  font-weight: bold;
  display: block;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  text-align: center;
  margin-left: -25px;
  position: absolute; }

.icon-1 {
  margin-left: 20px;
  color: black; }

.btn_text {
  margin-left: 10px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 17px; }

.button_group a {
  text-decoration: none; }

/* restaurent  section*/
.top_lbl {
  position: absolute;
  background: #99e2d0;
  color: #2c9c81;
  padding: 5px 10px;
  font-weight: bold;
  top: -1;
  margin-left: -90px;
  margin-top: 10px;
  border: none; }

.section_res {
  background-color: #f5f5f0; }

.text_res {
  font-size: 20px;
  margin-left: 20px;
  padding-top: 20px; }

.wrapper_restaurent {
  display: grid;
  justify-content: center; }

.img_restaurent {
  height: 8rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px; }

.card {
  border-radius: 10px;
  width: 15rem;
  display: flex;
  flex-wrap: wrap;
  background: white; }
  .card:hover {
    transform: scale(1.1); }

.cardtext_container {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.card_text {
  color: black;
  line-height: 0.4;
  margin-top: 10px;
  margin-left: 5px;
  float: left; }

.text3 {
  font-weight: bold;
  font-size: 17px;
  font-family: "Roboto", sans-serif; }

.text4 {
  font-size: 14px;
  font-family: "Roboto", sans-serif; }

.wrapper_restaurent {
  display: flex;
  justify-content: space-around;
  background-color: #f5f5f0;
  padding-bottom: 30px; }

    /*
    .like{
        position: relative;
    }
    .default_i{
        z-index: 1;
        width: 25px;
}
    .houver_i{
        z-index: 2;
        width: 25px;
        margin-left: -25px;
        position: absolute;
        opacity: 0;
        margin-top: 2px;

    }
    .default_i:focus{
       cursor: alias;
       opacity: 0;
}
.houver_i:focus{
    opacity: 1;
   

}
.heart_1:hover{
    background: url(img/canvass.png);
    background-repeat: no-repeat;
    transition: max-height 0.25s ease-in;
}
*/
/* hart animation*/
#checkbox {
  display: none; }

#checkbox1 {
  display: none; }

#checkbox2 {
  display: none; }

#checkbox3 {
  display: none; }

.icon_color {
  font-size: 25px;
  position: absolute;
  margin-left: -35px;
  margin-top: 8px;
  color: #9356DC;
  visibility: hidden; }

.icon_linkt {
  margin-right: 10px;
  margin-top: 10px;
  font-size: 25px;
  cursor: pointer; }

.hart_icon input[type="checkbox"]:checked + label .fas {
  visibility: visible; }

.hart_icon input[type="checkbox"]:checked + label .far {
  visibility: hidden; }

/* Footer section */
.footer {
  background-color: #353535;
  display: grid;
  justify-content: left; }

#footer_logo {
  margin-top: 10px;
  padding-top: 20px;
  display: grid;
  justify-content: center;
  font-family: "Shrikhand", cursive;
  color: white; }

ul {
  list-style-type: none;
  margin-top: 8px;
  padding-bottom: 20px; }

.footer_i {
  color: white;
  margin-right: 8px; }

.links {
  justify-content: center;
  display: grid;
  font-family: "Roboto", sans-serif; }

.links li:hover {
  transform: scale(1.2); }

.footer_text {
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none; }

/* mobile */
@media (max-width: 767px) {
  #div_logo {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5rem; }

  .icon {
    margin-left: 20px; }

  .input-field {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    opacity: 0.7;
    border: none;
    box-shadow: 20px; }

  #presentation {
    text-align: center;
    line-height: 1; }

  .explorer_button:hover {
    transform: scale(1.5); }

  #text1 {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto", sans-serif; }

  #text2 {
    font-size: 14px;
    opacity: 0.7;
    font-family: "Roboto", sans-serif; }

  .txt_function {
    font-weight: bold;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px; }

  .text_res {
    font-weight: bold;
    padding-top: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    display: inline-block; }

  #btn_section {
    flex-direction: column;
    width: 100%;
    display: grid;
    justify-items: center; }

  .button_group {
    width: 250px; }

  .wrapper_restaurent {
    flex-direction: column;
    align-items: center; }

  .card {
    margin-bottom: 15px;
    width: 20rem; }

  .img_restaurent {
    width: 20rem;
    height: 10rem; } }
/* tablet */
@media (min-width: 768px) and (max-width: 1028px) {
  .explorer_button:hover {
    transform: scale(1.5); }

  .Fonctionnement {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; }

  .button_group {
    font-size: 13px;
    width: auto; }

  .text_res {
    background-color: #f5f5f0; }

  .img_restaurent {
    border-radius: 10px 0px 0px 10px;
    height: 10rem; }

  .wrapper_restaurent {
    flex-wrap: wrap; }

  .card {
    width: 70%;
    margin-bottom: 20px; }

  .card a {
    width: 50%; }

  .cardtext_container {
    width: 50%; }

  .hart_icon {
    margin-top: 20px;
    margin-right: 20px; }

  .text3 {
    font-size: 18px; }

  .text4 {
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
