$font-size : 11px 12px 13px 14px 18px 24px;
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$third_color:#99E2D0;
$titlefont :'Shrikhand', cursive;
$textfont:'Roboto', sans-serif;



/*menuPalette.html*/
/*arrow and logo*/
.logo-wrapp{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    text-align: center;
}
#flash{
    margin-top: 5px;
}
.top_img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    margin-top: 20px;
}
.img_restaurent{
    height: 15rem;
    width: 50rem;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    }
    h5{
        font-weight: bold;
        font-family: $titlefont;
    }
    .heart_1{
        float: right;
        margin-right: 20px;
    }

    /*button group*/
    .button_group{
        font-size:nth($font-size,3);
        padding: 10px;
        border-radius: 20px 0 0 20px;
       background-color: white;
        margin-bottom: 10px;
        box-shadow: 2px 3px 3px #ddd;
        font-family: $textfont;
           text-align: left;    
           width: 65%;
        }
        .entree_text{
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
        }
        .second_text{
            overflow: hidden;
            white-space: nowrap;
        
    }
        /*
        .value{
            display: block;
            width: 50px;
            height: 59px;
            background-color: white;
            font-weight: bold;
            border-radius: 0 20px 20px 0;
                justify-items: left;
            padding-top: 25px;
            transition: all 450ms ease-in-out;
            }*/

            .box{
    width: 60px;
    height: 59px;
    background-color: #99e2d0;
    border-radius: 0 20px 20px 0;
    padding-top: 25px;
    padding-top: 25px;
    padding-top: 18px;
    padding-left: 19px;
    margin-left: -10px;
    z-index: -1;
    
}
.fa-check{
    font-weight: 600;
font-size: 14px;
}
.check{
    text-align: center;
    background-color: white;
border-radius: 100%;
width: 25px;
transition: transform 0.5s ;
animation-fill-mode: both;
}

.btn_wrappe{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    
    &:hover {
        .box_value{
            animation: valueBox  3s ; 
            animation-timing-function: linear;
            animation-iteration-count: 1;
            transition-delay: 1s;
    }
    .box{
        z-index: 1;
        animation: Box  3s ; 
            animation-timing-function: linear;
            animation-iteration-count: 1;
          
    }
    .check{
        transform:rotate(360deg) ;
        
    }

    }
}
.box_value{
    background-color: white;
    display: flex;
    width: 65px;
    height: 59px;
    font-weight: bold;
    border-radius: 0 20px 20px 0;
    padding-top: 25px;
    text-align: right; 
z-index: 1;
   
}
/*animation button*/
@keyframes valueBox{
    
      0% {
        transform:translate (50px 0px);
      }
      20% {
        transform: translate(-30px, 0);
      }
      40% {
        transform: translate(-20px, 0);
      }
      60% {
        transform: translate(-15px, 0);
      }
      80% {
        transform: translate(-10px, 0);
      }
      100% {
        transform: translate(1px, 0);
      }
    }
    @keyframes Box{
    
        0% {
          transform:translate (70px 0px);
        }
        20% {
          transform: translate(-60px, 0);
        }
        40% {
          transform: translate(-40px, 0);
        }
        60% {
          transform: translate(-20px, 0);
        }
        80% {
          transform: translate(-10px, 0);
        }
        100% {
          transform: translate(1px, 0);
        }
        
        
      }

/*
.box_value{
    &:hover + .scale_sizebtn{
transform: translateX(0.5);
}

}
.scale_sizebtn{
    transition: transform 330ms ease-in-out;
}
.fa-check{
    transform: rotate(1turn);
}

.box_value:hover{
    transform: translate(100px,0);
    
    transition: transform 330ms ease-in-out;
    
}
*/
/*
.check{
    border-radius: 50%;
background: green;
display: flex;
justify-content: center;
width: 30px;
height: 30px;
transform: rotate(-180deg);
transition: all 450ms ease-in-out;
}
i::before{
    color: white;
    font-weight: bold;
    font-size: 13px;  
}
*/
        

 /*
.box::before

{
content: '';
position: absolute;
top:0;
left:0;
bottom: 0;
right:0;
background-color: blue;
}

       
.btn_wrappe{
    &:hover , &:focus , &:active{
        .value{
            transform: tralslateX(-65px);
        }
        .box{
            transform: tralslateX(-65px);
        }
        .check{
transform: rotate(0deg);
        }
    }
}
*/
        .btn_function{
            margin-left: 10px;
            color: black;
        }
        /*Entrees section*/
        .entree_wrapper{
            background-color:#f5f5f0 ;
            width:25%;
            margin-left: 10px;
            padding: 10px 0 0 10px;
            border-radius: 15px;
        }
        /*plat section*/
        .plats_wrapper{
            background-color:#f5f5f0 ;
            width:25%;
            margin-left: 10px;
            padding: 10px 0 0 10px;
            border-radius: 15px;
        }
        .plat_title{
            padding-top: 20px;
        
        }
        /*dessert section*/
        .desert_wrapper{
            background-color:#f5f5f0 ;
            width:25%;
            margin-left: 10px;
            padding: 10px 0 0 10px;
            border-radius: 15px;
        }
        .mainwrapper{
            display: flex;
            justify-content: space-around;
        }

        .command_button {
    display: grid;
    justify-items: center;
            padding: 8px;
            width:130px;
            margin-top: 20px;
            margin-bottom: 40px;
            border-radius: 20px;
            font-size:nth($font-size,1);
            background-image: linear-gradient($primary-color, $secondary-color);
            font-family: $textfont;
            }
/* Footer section */
.footer{
    background-color:#424224 ;
    
}
            #footer_logo{
                margin-top: 10px;
                padding-top: 20px;
                display: grid;
            justify-content: center;
            }
            
            
            ul{
                list-style-type:none;
                margin-top: 8px;
                
            }
            .footer_i{
                color: white;
                margin-right: 8px;
            }
            .links{
                justify-content: center;
                display: grid;
                font-family: $textfont;
            
            }
            
            .footer_text{
                color: white;
                font-family: $textfont;
            }
@media(max-width:767px){
    #flash{
        margin-top: 5px;
        margin-left: 30px;
    }
    .img_restaurent{
        height: 8rem;
        width: 100%;
        object-fit: cover;
       
        }
        .entree_wrapper{
            background-color:#f5f5f0 ;
            width: 100%;
        }
        .button_group{
            
           width: 80%;
             }
             .mainwrapper{
                flex-direction: column;
            }
            .plats_wrapper{
                
                width:100%;
                
            }
            .desert_wrapper{
               
                width:100%;
                
            }


}